<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeofenceARN</key>
	<string>${GEOFENCE_ARN}</string>
	<key>IdentityPoolId</key>
	<string>$(IDENTITY_POOL_ID)</string>
	<key>MapName</key>
	<string>$(MAP_NAME)</string>
	<key>TrackerName</key>
	<string>$(TRACKER_NAME)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>WebsocketUrl</key>
	<string>${WEBSOCKET_URL}</string>
</dict>
</plist>
